.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail {
    padding-left: 0;
    padding-right: 0;
}

.list-group {
    padding: 0;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    font-size: 0.9rem;
    overflow: hidden;
}

.list-group-item:hover {
    background-color: #eee;
}

.media-heading {
    margin-left: 8px;
}

@media screen and (max-width: 960px) {
    .list-group-item {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 880px) {
    .list-group-item {
        font-size: 0.7em;
    }
}