body {
    background-color: #f4f4f4
}
.search-bar {
    margin: 4px;
    text-align: center;
}

.search-bar input {
    width: 75%;
    border-radius: 10px;
}

.video-item img {
    max-width: 64px;
}

.video-detail {
    padding-left: 0;
    padding-right: 0;
}

.video-detail .embed-responsive .embed-responsive-item, .list-group {
    height: 570px;
}

.list-group {
    padding: 0;
}

.video-detail .details {
    padding: 10px;
    border: 1px solid #c0b283;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    font-size: 0.9rem;
    overflow: hidden;
    background-color: #c0b283;
    border-radius: 10px;
}

.list-group-item:hover {
    background-color: #f4f4f4;
}

.media-heading {
    margin-left: 8px;
}

@media screen and (max-width: 960px) {
    .list-group-item {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 880px) {
    .list-group-item {
        font-size: 0.7em;
    }
}